# Usando Python e SQL para criar bancos de dados

Para criar um banco de dados com python basta ter o driver/biblioteca específica para o SGBD que pretende usar e criar a estrutura com comandos SQL.

## SQLite

No SQLite, por não ter "burocracias" no ato da conexão, se usar um nome de banco que não exista no diretória ele cria o banco automaticamente.

In [22]:
import sqlite3
from pathlib import Path

# Diretório do arquivo atual
#BASE_DIR = Path(__file__).resolve().parent
# Caminho completo do banco
#DB_PATH = BASE_DIR / "db" / "escola_v2.db"

db_connection = sqlite3.connect("db/loja2.db")

Banco criado, agora criamos o cursor para usarmos comandos SQL:

In [23]:
# cria o cursor
cursor = db_connection.cursor()

Agora podemos usar SQL para criar nossas tabelas:

In [24]:
cursor.execute("SELECT * FROM clientes")
for linha in cursor:
    print(linha)

(None, 'Fred', 'Aquela rua', 81955555555)
(None, 'Fred', 'Aquela rua', 81955555555)

In [25]:
cursor.execute("""CREATE TABLE clientes (
               id INT AUTO_INCREMENT PRIMARY KEY,
               nome VARCHAR(255) NOT NULL, 
               endereco VARCHAR(255) NOT NULL, 
               telefone INT(11) NOT NULL
               )""")

OperationalError: table clientes already exists

## Alimentando a tabela com dados:

In [29]:
sql = "INSERT INTO clientes (nome, endereco, telefone) VALUES (?, ?, ?)"
val = [("Fred", "Aquela rua", 81955555555), ("maria","Rua 2",12345678901)]
cursor.execute(sql, val)

#cursor.execute("INSERT INTO clientes (nome, endereco, telefone) VALUES ("Fred", "Aquela rua", 81955555555)")

db_connection.commit()

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 3, and there are 2 supplied.

In [16]:
cursor.execute("SELECT * FROM clientes")

cursor.fetchall()

[(None, 'Fred', 'Aquela rua', 81955555555),
 (None, 'Fred', 'Aquela rua', 81955555555)]